<div>
    <!-- Preloader -->
    <!--div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div-->
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4"
        data-background="assets/img/photos_new_content/new/modif/178780797_751815988866294_7412723873067046838_n-Copie.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>Dar ichkeul</h5>
                    <h1>À propos</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <div class="section-subtitle">La nature est tout ce qu’on voit,Tout ce qu’on veut, tout ce qu’on aime…</div>
                    <div class="section-title"><p>Dar Ichkeul, située à proximité de la ville de Mateur avec une vue imprenable sur le parc national d'Ichkeul, elle vous apporte entière satisfaction. Le gîte dispose de 8 suites, différemment décorées avec soin et élégance et offrant tout le confort dont vous avez besoin et d'un service de chambre impeccable pour rendre votre séjour encore plus plaisant. Outre la piscine et son grand jardin, l’établissement rural situé au cœur d’une ferme agricole d’une dizaine d’hectares vous propose de nombreux espaces où on peut se retrouver entre familles ou amis, pour profiter du calme de la campagne, se prélasser au soleil, participer à la récolte des différents fruits, déguster les plats concoctés sur place, jouer au tennis ou faire des activités équestres. Le personnel de la maison d'hôtes se fera également un plaisir de vous servir lors de votre visite et vous fournir un petit déjeuner traditionnel de la région, succulent et savoureux</p>
                    </div>
                    <!-- reservation -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Réservation</p> <a href="tel:+21627595239">+216 27 595 239</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="assets/img/photos_sections/propos/app1.jpg" alt="" class="mt-90 mb-30">
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="assets/img/photos_sections/propos/app2.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing -->
    <section class="pricing section-padding bg-blck">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>Notre cuisine</span></div>
                    <div class="section-title"><span>Les délices du chef</span></div>
                    <p class="color-2">
                    Ici la parole est donnée à la nature sauvage et aux paysans qui la domptent. Notre cuisine est comme la vie paysanne, brute et généreuse marquée par la puissance du feu de bois et la fraîcheur végétale.</p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="color-2">Réserver</p> <a href="tel:+21627595239">+216 27 595 239</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        <div class="pricing-card">
                            <img src='assets/img/photos_new_content/new/modif/IMG_6783.jpg' alt="">
                            <div class="desc">
                                <div class="name">Entrées froides</div>
                                <div class="amount"><span></span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Salade caprese</li>
                                    <li><i class="ti-check"></i>Salade niçoise</li>
                                    <li><i class="ti-check"></i>Salade césar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="assets/img/photos_new_content/new/modif/pasted_image.jpg" alt="">
                            <div class="desc">
                                <div class="name">Entrées chaudes</div>
                                <div class="amount"><span></span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Bisque de crevette</li>
                                    <li><i class="ti-check"></i>Feta rôtie aux tomates cerises</li>
                                    <li><i class="ti-check"></i>Crème d’artichaut</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="assets/img/photos_new_content/new/modif/Filetmignoncuisson.jpg" alt="">
                            <div class="desc">
                                <div class="name">Nos spécialités</div>
                                <div class="amount"><span></span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Entrecôte grillée beurre maître d'hôtel</li>
                                    <li><i class="ti-check"></i>Filet de boeuf</li>
                                    <li><i class="ti-check"></i>Agneau à la gargoulette </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Facilties -->
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Dar ichkeul</div>
                    <div class="section-title">Nos services</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-world"></span>
                        <h5>Transfert de l'aéroport</h5>
                        <p>Profitez de la tranquillité d'esprit dès votre arrivée à Tunis. Pré-réservez un transfert aéroport- Dar Ichkeul et notre chauffeur  vous attendra dans le hall des arrivées. </p>
                        <div class="facility-shape"> <span class="flaticon-world"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-car"></span>
                        <h5>Parking</h5>
                        <p>Dar ichkeul dispose d'un parking gratuit pour tous ses clients   aménagé spécialement pour tous les clients e afin qu'ils puissent stationner leurs véhicules en toute sécurité..

                        </p>
                        <div class="facility-shape"> <span class="flaticon-car"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-breakfast"></span>
                        <h5>Petit déjeuner</h5>
                        <p>Avec notre offre Petit-déjeuner inclus, réveillez-vous en douceur et profitez d'un moment gourmand pendant votre séjour. 
                            Tout bonheur commence par un petit déjeuner tranquille.</p>
                    </div>
                </div>
                <!--div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-swimming"></span>
                        <h5>piscine</h5>
                        <p>Swimming pool tincidunt nise ace park norttito sit space, mus nellentesque habitant.</p>
                        <div class="facility-shape"> <span class="flaticon-swimming"></span> </div>
                    </div>
                </div-->
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-wifi"></span>
                        <h5>Wifi</h5>
                        <p>accès au Wi-Fi gratuit, rapide et facilement accessible dans toutes les parties communes et dans l’ensemble des chambres.   
                            améliorer la stabilité de votre réseau et le débit grâce à wifi Dar ichkeul                                                   </p>
                        <div class="facility-shape"> <span class="flaticon-wifi"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-breakfast"></span>
                        <h5>Café Nespresso</h5>
                        <p>Dans le cadre d'un séjour inoubliable dans notre établissement , nos clients se souviendront d'une tasse de café Nespresso exceptionnelle, d’un délicieux thé à la menthe, d’une citronnade fraîche ou autres boissons délicieuses.</p>
                        <div class="facility-shape"> <span class="flaticon-breakfast"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <!-- Testiominals -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="assets/img/photos_new_content/les_salons/IMG_6905.jpg"
            data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>Témoignage</h6>
                                <h4>Ce que nos clients disent de nous</h4>
                                <div class="line"></div>
                            </div>
                            <div class="owl-carousel owl-theme">
                                <div class="item" *ngFor="let item of testimonials">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>{{item.description}}</p>
                                    <div class="info">
                                        <div class="author-img"> <img [src]="item.image" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>{{item.name}}</h6> <span> {{item.profession}} </span>
                                        </div>
                                    </div>
                                </div>
                                <!--div class="item">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>Une belle surprise sur la région de Bizerte pour moi j'adore l'endroit reste à voir sur place 😍.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="assets/img/testimonial/02.png" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Sarra Mihoub</h6> <span>Founder, hilix</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>un endroit féérique et un service hors norme, top.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="assets/img/testimonial/03.png" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Ahlem Amara</h6> <span>Founder, Condo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>Hotel dapibus asue metus the nec feusiate eraten miss hendreri net ve ante the
                                        lemon sanleo nectan feugiat erat hendrerit necuis ve ante otel inilla duiman at
                                        finibus viverra neca the sene on satien the miss drana inc fermen norttito sit
                                        space, mus nellentesque habitan.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="assets/img/team/5.jpg" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Olivia Martin</h6> <span>Guest review</span>
                                        </div>
                                    </div>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->

    <!-- jQuery -->

</div>
