<div> 
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="assets/img/photos_sections/acceuil/slider.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <h4>Dar ichkeul</h4>
                                <h1>Le luxe et la nature en harmonie</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="/rooms" data-scroll-nav="1"><span>Nos suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="assets/img/photos_new_content/les_slides/178483159_751807848867108_6722969823734392856_n.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <h4>Dar ichkeul</h4>
                                <h1>Le luxe et la nature en harmonie</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="/rooms" data-scroll-nav="1"><span>Nos suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="assets/img/photos_new_content/les_salons/IMG_6905.jpg">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <h4>Dar ichkeul</h4>
                                <h1>Le luxe et la nature en harmonie</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="/rooms" data-scroll-nav="1"><span>Nos suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider reservation -->
        <div class="reservation">
            <a href="tel:8551004444">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>+216 27 595 239</span> <br>Reservation</div>
            </a>
        </div>
    </header>
    <!-- Booking Search -->
    <div class="booking-wrapper">
        <div class="container">
            <div class="booking-inner clearfix">
                <form action="https://Garrach Sabri/demo/html/cappa/demo1-light/rooms.html" class="form1 clearfix">
                    <div class="col1 c1">
                        <div class="input1_wrapper">
                            <label>Date d'arrivée</label>
                            <div class="input1_inner">
                                <input type="text" readonly id="checkin" class="form-control input datepicker" placeholder="Date d'arrivée">
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper">
                            <label>Date de départ</label>
                            <div class="input1_inner">
                                <input type="text" readonly id="checkout" class="form-control input datepicker" placeholder="Date de départ">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Adultes</label>
                            <div class="select1_inner">
                                <select class="select2 select" id="ad" style="width: 100%" (change)="selctAdults($event)">
                                    <option value="0">Adultes</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper">
                            <label>Enfants</label>
                            <div class="select1_inner">
                                <select class="select2 select" id="en" style="width: 100%" (change)="selctEnfants($event)">
                                    <option value="0">Enfants</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col3 c6">
                        <button type="button" (click)="check()" style="display: block;
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
    background: #aa8453;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    text-decoration: none;
    line-height: 62.5px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;
    letter-spacing: 3px;
    text-transform: uppercase;
">Réserver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <div class="section-subtitle">Dar ichkeul</div>
                    <div class="section-title">Là où la vie est plus douce</div>
                    <p>Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.</p>
                    <!-- call -->
                    <div class="reservations"> 
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Réservation</p> <a href="tel:+21627595239<">+216 27 595 239</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="assets/img/photos_sections/acceuil/ac1.jpg" alt="" class="mt-90 mb-30">
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="assets/img/photos_new_content/new/modif/photgrfd.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms -->
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Dar ichkeul</div>
                    <div class="section-title">Nos suites</div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <a [href]="'/room/'+suits[0].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[0].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[0].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[0].price}} DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[0].title2}}</a> </h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4">
                    <a [href]="'/room/'+suits[1].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[1].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[1].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[1].price}} DT/ Night</a></h6>
                                <h5><a href="room-details.html">{{suits[1].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a [href]="'/room/'+suits[2].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[2].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[2].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[2].price}}DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[2].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a [href]="'/room/'+suits[3].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[3].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[3].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[3].price}}DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[3].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a [href]="'/room/'+suits[4].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[4].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[4].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[4].price}}DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[4].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a [href]="'/room/'+suits[5].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[5].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[5].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[5].price}}DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[5].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a [href]="'/room/'+suits[6].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[6].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[6].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[6].price}}DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[6].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a [href]="'/room/'+suits[7].id">
                        <div class="item">
                            <div class="position-re o-hidden"> <img [src]="suits[7].gridimage" alt=""> </div> <span
                                class="category"><a [href]="'/room/'+suits[7].id">Reserver</a></span>
                            <div class="con">
                                <h6><a href="room-details.html">{{suits[7].price}}DT / Night</a></h6>
                                <h5><a href="room-details.html">{{suits[7].title2}}</a></h5>
                                <div class="line"></div>
                                <div class="row facilities">
                                    <div class="col col-md-7">
                                        <ul>
                                            <li><i class="flaticon-bed"></i></li>
                                            <li><i class="flaticon-bath"></i></li>
                                            <li><i class="flaticon-breakfast"></i></li>
                                            <li><i class="flaticon-towel"></i></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-5 text-end">
                                        <div class="permalink"><a href="room-details.html">Details <i
                                                    class="ti-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing -->
    <section class="pricing section-padding bg-blck">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>Notre cuisine</span></div>
                    <div class="section-title"><span>Les délices du chef</span></div>
                    <p class="color-2">
                    Ici la parole est donnée à la nature sauvage et aux paysans qui la domptent. Notre cuisine est comme la vie paysanne, brute et généreuse marquée par la puissance du feu de bois et la fraîcheur végétale.</p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="color-2">Réserver</p> <a href="tel:+21627595239">+216 27 595 239</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        <div class="pricing-card">
                            <img src='assets/img/photos_new_content/new/modif/IMG_6783.jpg' alt="">
                            <div class="desc">
                                <div class="name">Entrées froides</div>
                                <div class="amount"><span></span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Salade caprese</li>
                                    <li><i class="ti-check"></i>Salade niçoise</li>
                                    <li><i class="ti-check"></i>Salade césar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="assets/img/photos_new_content/new/modif/pasted_image.jpg" alt="">
                            <div class="desc">
                                <div class="name">Entrées chaudes</div>
                                <div class="amount"><span></span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Bisque de crevette</li>
                                    <li><i class="ti-check"></i>Feta rôtie aux tomates cerises</li>
                                    <li><i class="ti-check"></i>Crème d’artichaut</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="assets/img/photos_new_content/new/modif/Filetmignoncuisson.jpg" alt="">
                            <div class="desc">
                                <div class="name">Nos spécialités</div>
                                <div class="amount"><span></span></div>
                                <ul class="list-unstyled list">
                                    <li><i class="ti-check"></i>Entrecôte grillée beurre maître d'hôtel</li>
                                    <li><i class="ti-check"></i>Filet de boeuf</li>
                                    <li><i class="ti-check"></i>Agneau à la gargoulette </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3"
        data-background="assets/img/photos_new_content/les_slides/178483159_751807848867108_6722969823734392856_n.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i
                            class="star-rating"></i><i class="star-rating"></i></span>
                    <div class="section-subtitle"><span></span></div>
                    <div class="section-title"><span>Dar ichkeul</span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a class="vid" href="https://youtu.be/7BGNAGahig8">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Dar ichkeul</div>
                    <div class="section-title">Nos services</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-world"></span>
                        <h5>Transfert de l'aéroport</h5>
                        <p>Profitez de la tranquillité d'esprit dès votre arrivée à Tunis. Pré-réservez un transfert aéroport- Dar Ichkeul et notre chauffeur  vous attendra dans le hall des arrivées. </p>
                        <div class="facility-shape"> <span class="flaticon-world"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-car"></span>
                        <h5>Parking</h5>
                        <p>Dar ichkeul dispose d'un parking gratuit pour tous ses clients   aménagé spécialement pour tous les clients e afin qu'ils puissent stationner leurs véhicules en toute sécurité..

                        </p>
                        <div class="facility-shape"> <span class="flaticon-car"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-breakfast"></span>
                        <h5>Petit déjeuner</h5>
                        <p>Avec notre offre Petit-déjeuner inclus, réveillez-vous en douceur et profitez d'un moment gourmand pendant votre séjour. 
                            Tout bonheur commence par un petit déjeuner tranquille.</p>
                    </div>
                </div>
                <!--div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-swimming"></span>
                        <h5>piscine</h5>
                        <p>Swimming pool tincidunt nise ace park norttito sit space, mus nellentesque habitant.</p>
                        <div class="facility-shape"> <span class="flaticon-swimming"></span> </div>
                    </div>
                </div-->
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-wifi"></span>
                        <h5>Wifi</h5>
                        <p>accès au Wi-Fi gratuit, rapide et facilement accessible dans toutes les parties communes et dans l’ensemble des chambres.   
                            améliorer la stabilité de votre réseau et le débit grâce à wifi Dar ichkeul                                                   </p>
                        <div class="facility-shape"> <span class="flaticon-wifi"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-breakfast"></span>
                        <h5>Café Nespresso</h5>
                        <p>Dans le cadre d'un séjour inoubliable dans notre établissement , nos clients se souviendront d'une tasse de café Nespresso exceptionnelle, d’un délicieux thé à la menthe, d’une citronnade fraîche ou autres boissons délicieuses.</p>
                        <div class="facility-shape"> <span class="flaticon-breakfast"></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testiominals -->
    <section class="testimonials">
        <div class="background bg-img bg-fixed section-padding pb-0" data-background="assets/img/photos_new_content/les_salons/IMG_6905.jpg"
            data-overlay-dark="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="testimonials-box">
                            <div class="head-box">
                                <h6>Témoignage</h6>
                                <h4>Ce que nos clients disent de nous</h4>
                                <div class="line"></div>
                            </div>
                            <div class="owl-carousel owl-theme">
                                <div class="item" *ngFor="let item of testimonials">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>{{item.description}}</p>
                                    <div class="info">
                                        <div class="author-img"> <img [src]="item.image" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>{{item.name}}</h6> <span> {{item.profession}} </span>
                                        </div>
                                    </div>
                                </div>
                                <!--div class="item">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>Une belle surprise sur la région de Bizerte pour moi j'adore l'endroit reste à voir sur place 😍.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="assets/img/testimonial/02.png" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Sarra Mihoub</h6> <span>Founder, hilix</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>un endroit féérique et un service hors norme, top.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="assets/img/testimonial/03.png" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Ahlem Amara</h6> <span>Founder, Condo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <span class="quote"><img src="assets/img/quot.png" alt=""></span>
                                    <p>Hotel dapibus asue metus the nec feusiate eraten miss hendreri net ve ante the
                                        lemon sanleo nectan feugiat erat hendrerit necuis ve ante otel inilla duiman at
                                        finibus viverra neca the sene on satien the miss drana inc fermen norttito sit
                                        space, mus nellentesque habitan.</p>
                                    <div class="info">
                                        <div class="author-img"> <img src="assets/img/team/5.jpg" alt=""> </div>
                                        <div class="cont"> <span><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i><i
                                                    class="star-rating"></i><i class="star-rating"></i></span>
                                            <h6>Olivia Martin</h6> <span>Guest review</span>
                                        </div>
                                    </div>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section class="services section-padding">
        <div class="container">
            <div class="row" *ngFor="let item of actsList">
                <div class="col-md-6 p-0 animate-box" *ngIf="item.position_image === 'left'" data-animate-effect="fadeInLeft">
                    <div class="img left">
                        <a><img [src]="item.image" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" *ngIf="item.position_image === 'left'" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Dar ichkeul</h6>
                            </div>
                            <h4> {{item.title}} </h4>
                            <p>{{item.description}}</p>
                            <div class="butn-dark" *ngIf="item.title === 'RESTAURANT'"> <a href="/restaurant"><span>Lire plus</span></a> </div>
                            <div class="butn-dark" *ngIf="item.title != 'RESTAURANT'"> <a href="/activités"><span>Lire plus</span></a> </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" *ngIf="item.position_image === 'right'" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Dar ichkeul</h6>
                            </div>
                            <h4> {{item.title}} </h4>
                            <p>{{item.description}}</p>
                            <div class="butn-dark" *ngIf="item.title === 'RESTAURANT'"> <a href="/restaurant"><span>Lire plus</span></a> </div>
                            <div class="butn-dark" *ngIf="item.title != 'RESTAURANT'"> <a href="/activités"><span>Lire plus</span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" *ngIf="item.position_image === 'right'" data-animate-effect="fadeInRight">
                    <div class="img">
                        <a><img [src]="item.image" alt=""></a>
                    </div>
                </div>
            </div>
            <!--div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Experiences</h6>
                            </div>
                            <h4>Spa Center</h4>
                            <p>Spa center inilla duiman at elit finibus viverra nec a lacus themo the nesudea seneoice
                                misuscipit non sagie the fermen ziverra tristiue duru the ivite dianne onen nivami
                                acsestion augue artine.</p>
                            <div class="butn-dark"> <a href="spa-wellness.html"><span>Learn More</span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img">
                        <a href="spa-wellness.html"><img src="assets/img/spa/3.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left">
                        <a href="spa-wellness.html"><img src="assets/img/spa/2.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Modern</h6>
                            </div>
                            <h4>Fitness Center</h4>
                            <p>Restaurant inilla duiman at elit finibus viverra nec a lacus themo the nesudea seneoice
                                misuscipit non sagie the fermen ziverra tristiue duru the ivite dianne onen nivami
                                acsestion augue artine.</p>
                            <div class="butn-dark"> <a href="spa-wellness.html"><span>Learn More</span></a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                            <div class="info">
                                <h6>Experiences</h6>
                            </div>
                            <h4>The Health Club & Pool</h4>
                            <p>The health club & pool at elit finibus viverra nec a lacus themo the nesudea seneoice
                                misuscipit non sagie the fermen ziverra tristiue duru the ivite dianne onen nivami
                                acsestion augue artine.</p>
                            <div class="butn-dark"> <a href="spa-wellness.html"><span>Learn More</span></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img">
                        <a href="spa-wellness.html"><img src="assets/img/spa/1.jpg" alt=""></a>
                    </div>
                </div>
            </div-->
        </div>
    </section>
    <!-- News -->
    <section class="news section-padding bg-blck">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>Dar ichkeul</span></div>
                    <div class="section-title"><span>Nos activités</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="assets/img/photos_new_content/new/image_6483441.jpg" alt="">
                                <div class="date">
                                    <a href="/activités"> <span>Détails</span> <i></i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="/activités">PISCINE</a>
                                </span>
                                <h5><a href="/activités">En famille, en couple ou seul, venez profiter de la piscine extérieure.</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="assets/img/photos_new_content/new/equitation2.png" alt="">
                                <div class="date">
                                    <a href="/activités"> <span>Détails</span> <i></i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="/activités">EQUITATION</a>
                                </span>
                                <h5><a href="/activités">Nous proposons  des balades dans notre ferme et aussi dans les collines avoisinantes.</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="assets/img/photos_new_content/new/tennis2.png" alt="">
                                <div class="date">
                                    <a href="/activités"> <span>Détails</span> <i></i> </a>
                                </div>
                            </div>
                            <div class="con">
                                <span class="category">
                                    <a href="/activités">TENNIS</a>
                                </span>
                                <h5><a href="/activités"> Pour une activité plus intense, notre court de tennis vous attend.</a></h5>
                            </div>
                        </div>

                        <div class="item">
                            <div class="position-re o-hidden"> <img src="assets/img/photos_sections/rondonne/r3.jpg" alt="">
                                <div class="date">
                                    <a href="/activités"> <span>Détails</span> <i></i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="/activités">RANDONNÉE</a>
                                </span>
                                <h5><a href="/activités">Nos randonnées accompagnées sont placées sous le signe de la convivialité et de l’exploration.</a></h5>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Reservation & Booking Form -->

    <!-- Footer -->


</div>
