<div class="message-box-confirm" [ngStyle]="{'opacity':getOpacity(),'right':getRight(),'pointer-events':getPointer()}">
  <div class="desktop-version">
    <i class="fa-solid fa-check"></i>
    réservation confirmé avec succées
  </div>
</div>
<app-header></app-header>
<app-slider-form-reserv *ngIf="serviceHelper.isReservOpened"></app-slider-form-reserv>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="footer-column footer-about">
                      <h3 class="footer-title">À propos</h3>
                      <p class="footer-about-text">Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.
                    Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.</p>

                      <div class="footer-language"> <i class="lni ti-world"></i>
                          <select onchange="location = this.value;">
                              <option value="http://Garrach Sabri/">English</option>
                              <option value="http://Garrach Sabri/">German</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 offset-md-1">
                  <div class="footer-column footer-explore clearfix">
                      <h3 class="footer-title">Explore</h3>
                      <ul class="footer-explore-list list-unstyled">
                          <li><a href="/">Accueil</a></li>
                          <li><a href="/about">À propos</a></li>
                          <li><a href="/rooms">Nos suites</a></li>
                          <li><a href="/restaurant">Notre cuisine</a></li>
                          <li><a href="/activités">Nos activités</a></li>
                          <li><a href="/ferme">Notre ferme</a></li>
                          <li><a href="/table-d'hote">Table d'hote</a></li>
                          <li><a href="/contact">Contact</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="footer-column footer-contact">
                      <h3 class="footer-title">Contact</h3>
                      <p class="footer-contact-text">Route de Tunis Km 3 Mateur, <br> Borj Essabai 7030 Mateur, Tunisie
                      </p>
                      <div class="footer-contact-info">
                          <p class="footer-contact-phone"><span class="flaticon-call"></span>+216 27 595 239</p>
                          <p class="footer-contact-mail">Support@darichkeul.tn</p>
                      </div>
                      <div class="footer-about-social-list">
                          <a href="#"><i class="ti-instagram"></i></a>
                          <a href="#"><i class="ti-twitter"></i></a>
                          <a href="#"><i class="ti-youtube"></i></a>
                          <a href="#"><i class="ti-facebook"></i></a>
                          <a href="#"><i class="ti-pinterest"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="footer-bottom-inner">
                      <p class="footer-bottom-copy-right">© Copyright 2023 by <a href="/">Darichkeul.tn</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
