<div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="3"
        data-background="assets/img/photos_new_content/new/restau2.png">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left caption mt-90">
                    <h5>Dar ichkeul</h5>
                    <h1>Table d'hôte</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <div class="section-subtitle">Dar ichkeul</div>
                    <div class="section-title">Table d'hôte</div>
                    <p>Dans notre restaurant vous vous régalerez de savoureuses spécialités traditionnelles. Tous les plats sont préparés avec des ingrédients frais et de qualité.</p>
                    <!-- reservation -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Réservation</p> <a href="tel:+21627595239">+216 27 595 239</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="assets/img/photos_new_content/new/modif/ferm_a.jpg"
                        alt="" class="mt-90 mb-30"> </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="assets/img/photos_new_content/new/modif/ferm_b.jpg"
                        alt=""> </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section class="contact section-padding">
        <div class="container">
            <div class="row mb-90">
                <div class="col-md-6 mb-60">
                    <h3></h3>
                    <p></p>
                    <p></p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Réservation</p> <a href="tel:+21627595239">+216 27 595 239</a>
                        </div>
                    </div>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-envelope"></span></div>
                        <div class="text">
                            <p>Email</p> <a href="mailto:info@luxuryhotel.com">Support@darichkeul.tn</a>
                        </div>
                    </div>
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-location-pin"></span></div>
                        <div class="text">
                            <p>Address</p> Route de Tunis Km 3 Mateur, <br> Borj Essabai 7030 Mateur, Tunisie
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-30 offset-md-1">
                    <h3>Réserver</h3>
                    <form method="post" class="contact__form">
                        <!-- form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert">Votre message a été envoyé avec succées</div>
                            </div>
                        </div>
                        <!-- form elements -->
                        <div class="row form-table" [formGroup]="user">
                            <div class="col-md-6 form-group">
                                <input name="name" type="text" placeholder="Nom*" required formControlName="nom">
                                <span *ngIf="user.controls.nom.hasError('required') && this.user.controls.nom.touched" style="color: red;">le nom obligatoire</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="email" type="text" placeholder="Prénom*" required formControlName="prenom">
                                <span *ngIf="user.controls.prenom.hasError('required') && this.user.controls.prenom.touched" style="color: red;">le prenom obligatoire</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="phone" type="email" placeholder=" Adresse email *" required formControlName="email">
                                <span *ngIf="user.controls.email.hasError('required') && this.user.controls.email.touched" style="color: red;">email obligatoire</span>
                                <span *ngIf="user.controls.email.hasError('email') && this.user.controls.email.touched" style="color: red;">email non exact</span>
                            </div>
                            <div class="col-md-6 form-group">
                                <input name="subject" type="text" placeholder="Numéro de téléphone *" required formControlName="phone">
                                <span *ngIf="user.controls.phone.hasError('required') && this.user.controls.phone.touched" style="color: red;">phone obligatoire</span>
                            </div>
                            <div class="col-md-6" >
                                <div class="input1_wrapper">
                                  <label for="end-date">Date de réservation</label>
                                  <div class="input1_inner">
                               <input type="text" id="table" readonly class="form-control input datepicker" placeholder="Date réservation">
                                  </div>
                    
                                </div>
                            </div>
							<div class="col-md-6">
								<div class="select1_wrapper">
									<label>Nombre des personnes</label>
									<div class="select1_inner">
										<select class="select2 select" id="nbrHote"  style="width: 100%">
											<option value="0">Nombre</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="+4">plus de 4 personnes</option>
										</select>
									</div>
								</div>
							</div>
                            <div class="col-md-12">
                                <button type="submit" class="butn-dark2"  (click)="envoyer()"><span>réserver</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Map Section -->
            <section class="services section-padding">
    <div class="container">
        <div class="row" >
            <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                <div class="img left">
                    <a><img src="assets/img/photos_new_content/new/restau3.png" alt=""></a>
                </div>
            </div> 
            <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                <div class="content">
                    <div class="cont text-left">
                        <div class="info">
                            <h6>Dar ichkeul</h6>
                        </div>
                        <h4>Table d'hôte</h4>
                        <p>La table d'hôtes est une prestation facultative proposée en chambre d'hôtes en sus de l'hébergement aux personnes qui dorment sur place.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
        </div>
    </section>
    <!-- Reservation & Booking Form -->
    <!-- Footer -->
    <!-- jQuery -->

</div>

