<form class="form1 clearfix">
    <div class="row" >
        <div class="col-md-12">
            <div class="input1_wrapper">
              <label for="checkin">Date d'arrivée</label>
                <div class="input1_inner">
                  <input type="text" id="checkin" readonly class="form-control input datepicker" placeholder="Date d'arrivée" >
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="input1_wrapper">
              <label for="end-date">Date départ</label>
              <div class="input1_inner">
           <input type="text" id="checkout" readonly class="form-control input datepicker" placeholder="Date départ">
              </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="select1_wrapper">
                <label>Adultes</label>
                <div class="select1_inner">
                    <select class="select2 select" id="ad"  style="width: 100%">
                        <option value="0">Adultes</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="select1_wrapper">
                <label>Enfants</label>
                <div class="select1_inner">
                    <select class="select2 select" id="en" style="width: 100%"  >
                        <option value="0">Enfants</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn-form1-submit mt-15" (click)="check()">Réserver</button>
        </div>
    </div>
    <!--div class="row" >
        <div class="col-md-12">
            <div class="input1_wrapper">
                <label>Date d'arrivée</label>
                <div class="input1_inner">
                    <input type="text" class="form-control input datepicker"
                        placeholder="Date d'arrivée" onchange="getValue()" id="dateArrv">
                </div>
            </div>
        </div>=
        <div class="col-md-12">
            <div class="input1_wrapper">
                <label>Date de départ</label>
                <div class="input1_inner">
                    <input type="text" class="form-control input datepicker"
                        placeholder="Date de départ" id="dateDeb">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="select1_wrapper">
                <label>Adults</label>
                <div class="select1_inner">
                    <select class="select2 select" style="width: 100%">
                        <option value="0">Adults</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="select1_wrapper">
                <label>Children</label>
                <div class="select1_inner">
                    <select class="select2 select" style="width: 100%">
                        <option value="0">Children</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn-form1-submit mt-15">Réserver</button>
        </div>
    </div-->
</form>
